@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
  width: 100%;
}

#nav {
  background: white;
  border: 0px;
  border-bottom: 1px solid whitesmoke;
}

#nav > a {
  color: grey;
  font-family: 'Questrial', serif;
  align-self: center;
  border: 0px;
}

#logo {
  padding-top: 23px;
  border-radius: 80px;
  background: rgb(41,207,102);
  width: 70px;
  height: 70px;
}
