@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
  width: 100%;
}

#nav {
  padding-left: 50px;
  background: white;
  border: 0px;
  border-bottom: 1px solid whitesmoke;
}

#nav > a {
  color: grey;
  font-family: 'Questrial', serif;
  align-self: center;
  border: 0px;
}

#nav > div > a {
  padding-left: 0px;
  font-family: 'Questrial', serif;
  align-self: center;
  border: 0px;
}

#logo {
  width: 90px;
}

#loginbtn {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 1px;
}

#signupbtn {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 1px;
}
